* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100vh;
}
.password-container {
  display: block;
  border: none;
  padding: 20px;
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 10, 0.5);
  background-color: white;
}
h1 {
  text-align: center;
  padding: 20px;
}
#password-input {
  display: block;
  padding: 15px;

  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}
#password-input:focus{
    outline: none;
}
#passowrd-button {
  width: 100%;
  padding: 10px;
  border: none;
  box-shadow: 0 0 10px  rgba(0, 0, 0, 0.5);
  background-color: green;
  color: white;
  margin-bottom: 10px;
  border-radius: 10px;
}
#passowrd-container:hover{
  cursor: pointer;
}

.output{
  margin-bottom: 10px;
}